textarea {
  resize: none;
  height: 5em;
  border: none;
  background: $clr-gris-claro;
}

div form div input {
  height: 2em;
  border: none;
  background: $clr-gris-claro;
}

.divFechas {
    width: 100%;
}